/*// BASE STYLES //*/

html, body{
  height: 100%;
  width:100%;
  overflow: hidden;
  margin: 0;
}

.grass, .sky, .road{
  position: relative;
}

.sky{
  height: 40%;
  background: skyblue;
}

.grass{
  height: 30%;
  background: seagreen;
}

.road{
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines{
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/
.mario{
  position: absolute;
  top: -40px;
  left: 0;
  animation-name: drive;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.luigi{
  position: absolute;
  top: 100px;
  left: 0;
  animation-name: drive;
  animation-duration: 9s;
  animation-delay: 0;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: cubic-bezier(.1, .67, 1, .28);
}




/*// KEYFRAMES //*/
@keyframes drive{
  from{
    transform: translateX(-200)
  }

  to{
    transform: translateX(1000px)
  }


}







